<!-- Hero -->
	<section class="banner style5 fullscreen onload-image-fade-in onload-content-fade-right">
		<div class="content">
			<h1>{{ .Title }}</h1>
			<p class="major">{{ .Site.Params.hero.subtitle | markdownify }}</p>
			<ul class="actions vertical">
				<li><a href="{{ .Site.Params.hero.link }}" class="button big wide special smooth-scroll">{{ .Site.Params.hero.link_text }}</a></li>
			</ul>
		</div>
		<div class="image">
			<img src="{{ .Site.Params.hero.image }}" alt="" />
		</div>
	</section>