<!DOCTYPE HTML>

<html>

	{{ partial "head.html" . }}

	<body>

		<!-- Wrapper -->
			<div id="wrapper" class="divided">

				{{ partial "hero.html" . }}

				{{ partial "features.html" . }}

				<!-- Testimonials -->
					<section class="wrapper style1 align-center">
						<div class="inner">
							<h2>{{ .Site.Params.testimonials.title }}</h2>
						</div>
					</section>

					<section class="spotlight style2 orient-right content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h3>Coastal Jazz and Blues Society</h3>
							<p></p>
						</div>
						<div class="image">
							<img src="images/spotlight01.jpg" alt="" />
						</div>
					</section>

					<section class="spotlight style2 orient-left content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h3>Vital Body</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id ante sed ex pharetra lacinia sit amet vel massa. Donec facilisis laoreet nulla eu bibendum. Donec ut ex risus. Fusce lorem lectus, pharetra pretium massa et, hendrerit vestibulum odio lorem ipsum dolor sit amet.</p>
						</div>
						<div class="image">
							<img src="images/spotlight02.jpg" alt="" />
						</div>
					</section>

					<section class="spotlight style2 orient-right content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h3>Pilart Foods</h3>
							<p></p>
						</div>
						<div class="image">
							<img src="images/spotlight03.jpg" alt="" />
						</div>
					</section>

				{{ partial "cta.html" .Site.Params.cta }}

				{{ partial "clients.html" . }}

				{{ partial "team.html" . }}

				{{ partial "contact.html" . }}

				{{ partial "foot.html" . }}

			</div>

		{{ partial "scripts.html" . }}

	</body>
</html>